/* Header */
body{
    margin: 0px;
    padding: 0px
}

/* Navbar */
.navbar{
    border-bottom: 5px solid #6bc449;
}

.nav-link:hover{
    font-weight: 500;
}

/* Home-page */
.home-text{
    color: #6bc449;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100px;
}

.home-info{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 450;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button{
    background-color: #6bc449;
    color: #fff;
    font-size: 16px;
    border: 0px;
}

.home-btn button:hover{
    background-color: black;
}

@media only screen and (max-width: 500px){
    .home-text{
        font-size: 40px;
        margin-top: 10px;
    }
}
/* Feature */

.feature-titte h1{
color: #6bc449;
}

.feature-icon{
    color: #6bc449;
    margin: 20px 0px;
    font-size: 40px;
}

.feature-items{
    min-height: 280px;
}

.card:hover{
    transform: scale(1.0);
    background-color:black !important;
    color: #fff;
}

/* About Us */

.about-us{
    background-color: #f8f9fa;
}

.about-us h1{
    color: #6bc449;
}

.about-btn button:hover{
    background-color: black;
}

/* stock */

.stock-details h1{
    color: #6bc449;
    font-size: 40px;
    font-weight: 400;
}

.stock-details{
    margin-top: 160px;
}

@media  only screen and (max-width: 400px){
    .stock-details{
       margin-top: 20px;
    }
}
    
.stock-details button:hover{
    background-color: black;
}

/* testimonials */

.testimonial-data h1{
    color: #6bc449;
}

.testimonial-data{
    background-color: #f8f9fa
 }
 .client-details{
    display: inline-block;
    margin-left: 20px;
    margin-top:40px;
 }
 .client-img img{
    float: left;
 }
 .client-img img:hover{
    transform: scale(1.1);
 }

 .sign-up{
   background-image: linear-gradient(to bottom,rgb(14, 144, 14),light rgb(11, 162, 11),rgb(13, 217, 13)) ; 
min-height: 200px;
}
 